.navbar {
    background: rgb(238, 174, 202);
    background: linear-gradient(90deg, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 67%)
}

body {
    background: rgb(238, 174, 202);
    background: linear-gradient(90deg, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 67%);
}

.title {
    display: flex;
    justify-content: center;
}

.list-group {
    border: 0em;
}

.list-group-item {
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 67%);
    border: 0em;
    margin: 1em;
}

.list-group-item:hover {
    background: rgb(238, 174, 202);
    background: linear-gradient(90deg, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 67%);
}

#body {
    width: 40rem;
}

.body-container {
    display: flex;
    justify-content: center;
    margin-top: 3em;
}

.form-control {
    background: rgb(198, 171, 183);
    background: linear-gradient(180deg, rgba(238, 174, 202, 1) 0%, rgb(233, 148, 232) 67%)
}

.btn-primary {
    background: rgb(238, 174, 202);
    background: linear-gradient(90deg, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 67%);
    border: none
}